[Unit]
Description=Schedule Newsbot collection

[Timer]
OnBootSec=2min
OnUnitInactiveSec=1h
RandomizedDelaySec=30s
AccuracySec=5s
Unit=newsbot-collect.service
Persistent=false

[Install]
WantedBy=timers.target
